
<div class="container text-center">
  <div class="row">
    <div class="col-sm-12">
<p>

<button style="margin-right:20px;margin-left: 100px;" type="button" class="btn btn-primary">btn 1</button>
<button style="margin-right:20px;" type="button" class="btn btn-secondary">btn 2</button>
<button style="margin-right:20px;" type="button" class="btn btn-success">btn 3</button>
<button style="margin-right:20px;" type="button" class="btn btn-danger">btn 4</button>
<button style="margin-right:20px;" type="button" class="btn btn-warning">btn 5</button>
<button style="margin-right:20px;" type="button" class="btn btn-info">btn 6</button>

</p>

    </div>
  </div>
</div>




<div class="container text-center">
  <div class="row">
    <div class="col-sm-12">
	<em>ceci est le composant de la partie open class room</em><br><br>
	<strong>ceci est le composant de la partie open class room</strong><br><br>
	<em>ceci est le composant de la partie open class room</em><br><br>
	<strong>ceci est le composant de la partie open class room</strong><br><br>
	<em>ceci est le composant de la partie open class room</em><br><br>
	<strong>ceci est le composant de la partie open class room</strong><br><br>
	<em>ceci est le composant de la partie open class room</em><br><br>
	<strong>ceci est le composant de la partie open class room</strong><br><br>
	<em>ceci est le composant de la partie open class room</em><br><br>
	<strong>ceci est le composant de la partie open class room</strong><br><br>
    </div>
  </div>
</div>

<!-- <p>Mis à jour : {{ lastUpdate | async | date | uppercase }}</p> -->